#**Theory Questions**

Q1. What are data structures, and why are they important?

Ans. Data structures organize data for efficient access and manipulation. Examples include lists, tuples, dictionaries, and sets. They are critical for optimizing algorithms and improving program performance.

Q2.  Explain the difference between mutable and immutable data types with examples?

Ans.

*   Mutable: Can be changed after creation (e.g., list).
*   Immutable: Cannot be changed after creation (e.g., tuple).

Q3. What are the main differences between lists and tuples in Python?

Ans.
*  Lists are mutable and dynamic
*  Tuples are immutable and static.
*  Tuples are generally faster and used for fixed data.

Q4. Describe how dictionaries store data?

Ans. Dictionaries use hash tables to store key-value pairs, ensuring fast lookups based on unique keys.

Q5. Why might you use a set instead of a list in Python?

Ans. Sets automatically eliminate duplicates and provide faster membership tests than lists.

Q6. What is a string in Python, and how is it different from a list?

Ans.  String is a sequence of characters enclosed in quotes. Unlike lists, strings are immutable and can only contain characters, whereas lists can hold multiple data types.

Q7. How do tuples ensure data integrity in Python?

Ans. Tuples are immutable, which means their contents cannot be changed after creation, ensuring that the data remains consistent and secure.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans. A hash table is a data structure that maps keys to values using a hash function. Dictionaries in Python are implemented using hash tables for fast data retrieval.

Q9. Can lists contain different data types in Python?

Ans. Yes, lists can hold elements of multiple data types, such as integers, strings, and even other lists or dictionaries.

Q10. Explain why strings are immutable in Python?

Ans. Strings are immutable to enhance performance, ensure thread safety, and optimize memory usage through string interning.

Q11. What advantages do dictionaries offer over lists for certain tasks?

Ans. Dictionaries provide fast lookups for data retrieval based on keys, while lists require linear searches, which are slower.

Q12. Describe a scenario where using a tuple would be preferable over a list?

Ans. When creating a fixed dataset, such as geographic coordinates (latitude and longitude), tuples ensure the data remains unchanged.

Q13. How do sets handle duplicate values in Python?

Ans. Sets automatically remove duplicate values, ensuring all elements are unique.

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans. For lists, "in" checks for the presence of a value. For dictionaries, it checks for the presence of a key.

Q15. Can you modify the elements of a tuple? Explain why or why not?

Ans. No, tuples are immutable, so their elements cannot be changed once created. This behavior ensures data integrity.

Q16.  What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary within another dictionary. Use case: storing hierarchical data like a company’s organizational structure.


```
company = {
    "HR": {"Manager": "Alice", "Staff": 10},
    "IT": {"Manager": "Bob", "Staff": 25}
}
```

Q17. Describe the time complexity of accessing elements in a dictionary?

Ans. Accessing elements in a dictionary has an average time complexity of O(1), thanks to its hash table implementation.

Q18. In what situations are lists preferred over dictionaries?

Ans. Lists are preferred when maintaining order is essential, or when working with indexed data.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Dictionaries were unordered in versions before Python 3.7, meaning the order of insertion was not maintained. While they now preserve insertion order, data retrieval remains based on keys.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval?

Ans. Lists retrieve elements by index, whereas dictionaries retrieve values by keys.

#PRACTICAL QUESTIONS

Q1. Write a code to create a string with your name and print it?

In [1]:
name = "sumit"
print(name)

sumit

Q2. Write a code to find the length of the string "Hello World"?

In [ ]:
print(len("Hello World"))

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [ ]:
print("Python Programming"[:3])

Pyt

Q4. Write a code to convert the string "hello" to uppercase?

In [ ]:
print("hello".upper())

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [ ]:
print("I like apple".replace("apple","orange"))

I like orange

Q6.  Write a code to create a list with numbers 1 to 5 and print it?

In [ ]:
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [ ]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [ ]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50]?

In [ ]:
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [ ]:
tuple = (10,20,30)
print(tuple)

(10, 20, 30)

Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

In [ ]:
tuple = ('apple','banana', 'cherry')
print(tuple[0])

apple

Q13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?

In [ ]:
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

In [ ]:
my_tuple = ('apple', 'orange', 'banana')
print("banana" in my_tuple)

True

Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [ ]:
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}?

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it?

In [ ]:
tuple = (10,20,30)
print(tuple)

(10, 20, 30)

Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry')?

In [ ]:
tuple = ('apple','banana','cherry')
print(tuple[0])

apple

Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)?

In [ ]:
tuple = (1,2,3,2,4,2)
print(tuple.count(2))

3

Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

In [ ]:
tuple = ('dog','cat','rabbit')
print(tuple.index('cat'))

1

Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')?

In [ ]:
tuple = ('apple','orange','banana')
print("banana" in tuple)

True

Q23.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it?

In [ ]:
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

Q24.  Write a code to add the element 6 to the set {1, 2, 3, 4}?

In [ ]:
set = {1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}